﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactenos</title>
</head>
<body>
    <div> 
        <p> Paola Andrea Torres Pena
        <br>Correo: paolatorrespenna@gmail.com
        <br>telefono: 3214324689
        <br>Codigo: 0172009456
        </p>
    </div>
</body>
</html>
